<h2>{{ clockMessage }}</h2>
<h3>{{ activeTask.text || "Please select or add a task" }}</h3>

<p>
	{{ time | secondsToTime | date:'mm:ss' }}
</p>

<button class="btn btn-default" ng-hide="activeTask && activeTask.completed" ng-disabled="!activeTask" ng-click="activate()">{{ buttonLabel() }}</button>
<button class="btn btn-default" ng-hide="activeTask && activeTask.completed" ng-disabled="!activeTask" ng-click="reset()">Reset</button>
<button class="btn btn-default" ng-hide="(activeTask && activeTask.completed) || onBreak" ng-click="toggleOnBreak()">Take a Break!</button>


<hr />

<div class="row">
	<div class="col-md-3 debug-container">
		<h4>DEBUG</h4>
		<button ng-click="toggleOnBreak()">Toggle break</button><br />
		Break status: {{ onBreak }}<br />
    LongRest status: {{ onLongRest }}<br />
		Work sessions: {{ workSessions }} <button ng-click="increaseWorkSessions()">+</button><br />
		<button ng-click="playSound('bell')">Bell</button>
		<button ng-click="playSound('dingdong')">Ding Dong</button>
    <p>
      Active Task: {{ activeTask }}
    </p>
	</div>
</div>
