<h3>{{ clockMessage }}</h3>

<p>
	{{ time | secondsToTime | date:'mm:ss' }}
</p>

<button ng-click="activate()">{{ !timePromise ? 'Start' : 'Reset' }}</button>
<button ng-hide="onBreak" ng-click="toggleOnBreak()">Take a Break!</button>


<hr />

<div class="row">
	<div class="col-md-3 debug-container">
		<h4>DEBUG</h4>
		<button ng-click="toggleOnBreak()">Toggle break</button><br />
		Break status: {{ onBreak }}<br />
		Work sessions: {{ workSessions }} <button ng-click="increaseWorkSessions()">+</button>
	</div>
</div>
