<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand">Pomodoro</a>
		</div>
	</div>
</nav>

<div class="row">

	<div class="col-md-3">

		<div class="panel panel-default" ng-controller="TaskListCtrl as tasksCtrl">
      <ng-include src="'/templates/tasks.html'"></ng-include>
		</div>
	
	</div>

	<div class="col-md-9">
    <div ng-controller="ClockCtrl as clock">
  		<clock time="landing.time"></clock>
    </div>
	</div>

</div>

