<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand">Pomodoro</a>
		</div>
	</div>
</nav>

<div class="row">
	<div class="col-md-2">
		<div class="panel panel-default" ng-controller="TaskListCtrl as tasksCtrl">
			<div class="panel-heading">
				<h3 class="panel-title">Tasks</h3>
			</div>
			<div class="panel-body">
				<div class="list-group">
					<div>
						<input type="text" ng-model="newTask"> <button ng-click="addTask(newTask)">Add</button>
					</div>
					<div class="list-group-item" ng-repeat="task in tasks">
						{{task.text}} <a href="" ng-click="removeTask(task)"><i style="float: right">X</i></a>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="col-md-10">
		<clock time="landing.time"></clock>
	</div>

</div>

