			<div class="panel-heading">
				<h3 class="panel-title">Tasks</h3>
			</div>

			<form class="form-inline">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="tasksCtrl.taskInput">
				</div>
				<div class="form-group">	
					<button class="btn btn-default" ng-click="tasksCtrl.addTask(tasksCtrl.taskInput)">Add</button>
				</div>
			</form>

			<div class="list-group">
				<div 
          ng-class="{'list-group-item': true,
                     'active': tasksCtrl.activeTask === task.$id,
                     'completed': task.completed }" 
          ng-repeat="task in tasksCtrl.tasks | orderBy: '-created_at'"
        >
					<div ng-click="tasksCtrl.makeActive(task.$id)" id="{{ task.$id }}">
            {{task.text}} 
            <a href="" ng-click="tasksCtrl.toggleComplete(task)"><i style="float: right; padding-left: 10px;" class="glyphicon glyphicon-ok"></i></a>
            <a href="" ng-click="tasksCtrl.removeTask(task)"><i style="float: right">X</i></a>
            
            <br />
            <span class="task-stat" ng-if="task.workSessions && task.workSessions > 0">Work Sessions: {{task.workSessions}}</span>
            <span class="task-stat" ng-if="task.interruptions && task.interruptions > 0">Interruptions: {{task.interruptions}}</span>
            
				</div>
			</div>
